$black: #000;
$blue: #3535ff;
$gray: #444;
$light-gray: #888;
$white: #fff;
$yellow: #ffc905;
$window: #1f306b;
$radius: 0.2em;
$train-width: 30em;
$train-height: 10em;

.backwards {
  transform: scaleX(-1);

  & input {
    transform: scaleX(-1);
  }
}

.train {
  font-size: 1vh;
  z-index: 5;
  margin: 0 5em;
  padding-right: 5em;
  overflow-x: auto;
  overflow-y: hidden;

  &--inner {
    display: flex;
    justify-content: flex-start;
  }

  &-wrapper {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.coupe {
  flex: 0 0 auto;
  height: $train-height;
  width: $train-width;
  display: inline-flex;
  flex-flow: column nowrap;
  vertical-align: top;
  position: relative;
  border-radius: $radius;

  &-edit > *:not(input) {
    opacity: 0.1;
  }

  &.boring {
    background: $blue;
  }

  &:not(:last-child) {
    $coupe-spacing: 1em;

    margin-right: $coupe-spacing;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: $coupe-spacing;
      height: 90%;
      right: -$coupe-spacing;
      top: 50%;
      transform: translateY(-50%);
      background: repeating-linear-gradient(
        90deg,
        $light-gray,
        $gray $coupe-spacing / 5,
        $light-gray $coupe-spacing / 4,
        $light-gray $coupe-spacing / 3
      );
    }
  }

  &--top {
    background: $blue;
    flex: 0 1;
    flex-basis: 10%;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }

  &--main {
    flex: 1;
    background: $white;
    align-items: center;
    position: relative;

    &-center {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: $blue;
      width: 100%;
      height: 50%;
    }
  }

  &--bottom {
    flex: 0 1;
    flex-basis: 10%;
    background: $gray;
    border-top: 0.3em solid $yellow;
    box-sizing: border-box;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  &--doors {
    $border: 0.5em;

    position: absolute;
    bottom: 0;
    width: 4em;
    height: 75%;
    display: flex;
    padding: 0;
    border-top: 2px solid $white;
    overflow: hidden;
    border-left: $border solid $white;
    border-right: $border solid $white;
    border-radius: $radius;

    &.gray {
      .coupe--door {
        z-index: 5;
        background: $gray;
        transform: none !important;

        &-left {
          border-top-left-radius: $radius;
        }

        &-right {
          border-top-right-radius: $radius;
        }

        &--window {
          opacity: 0.8;
        }
      }
    }

    &.open {
      $open-percent: 100%;
      .coupe--door-left {
        transform: translateX(-$open-percent);
      }
      .coupe--door-right {
        transform: translateX($open-percent);
      }
    }

    &-left {
      left: 25%;
      transform: translateX(-17.5%);
    }

    &-center {
      left: 50%;
      transform: translate(-50%);
    }

    &-right {
      left: 75%;
      transform: translateX(-82.5%);
    }
  }

  &--door {
    $delay: 0.5s;

    position: relative;
    display: block;
    background: $yellow;
    width: 100%;
    height: 100%;
    transition: transform $delay ease;
    z-index: 10;

    &-left {
      border-top-left-radius: $radius;
    }

    &-right {
      border-top-right-radius: $radius;
    }

    &--window {
      position: absolute;
      height: 50%;
      width: 60%;
      z-index: 1;
      margin: 40% 25%;
      transition: transform $delay ease;
    }
  }

  &--windows {
    width: $train-width / 5;
    height: 70%;
    display: flex;
    padding-left: 0.5em;
    position: absolute;
    top: 20%;

    .coupe--window {
      flex: 1;
      height: 100%;
      width: 70%;
      margin: 0 0.5em 0 0;
    }

    &-left {
      left: 0;
    }

    &-center {
      left: 50%;
      transform: translateX(-50%);
    }

    &-right {
      left: 100%;
      transform: translateX(-100%);
    }

    &-double {
      width: $train-width / 2.5;
    }

    &-pull-right {
      left: 17%;
      transform: translateX(-25%);
    }
  }

  &--window {
    background: $window;
    border-radius: $radius;
    border: 0.1em solid $black;
    box-sizing: border-box;
  }

  &-driver {
    .coupe--top {
      width: $train-width * 0.775;
      margin-left: $train-width * 0.225;
    }

    .coupe--bottom {
      border-bottom-left-radius: 6em;
      border-bottom-right-radius: $radius;
    }

    .coupe--main {
      border-top-left-radius: 6em;

      &-center {
        width: $train-width * 0.9;
        margin-left: $train-width * 0.1;
      }
    }
  }

  &--front {
    position: absolute;
    left: 0;
    z-index: 1;
    width: $train-width * 0.225;
    height: 100%;
    border-top-left-radius: 10em;
    border-top: 1em solid $blue;

    &:before {
      content: '';
    }

    &-white {
      position: absolute;
      display: block;
      right: 0.8em;
      background: $white;
      top: 19%;
      height: 50%;
      width: 50%;
    }

    &-blue {
      position: absolute;
      display: block;
      right: 0.8em;
      background: $blue;
      top: 20%;
      height: 40%;
      width: 45%;
      border-top-left-radius: 8em;
      border-bottom-left-radius: 8em;
    }

    &-gray {
      position: absolute;
      width: 0;
      height: 0;
      bottom: 1.5em;
      left: 0;
      border-style: solid;
      border-width: 1em 0 0 3em;
      border-color: transparent transparent transparent $gray;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  text-align: center;

  span {
    display: block;
    margin-top: 1.5em;
    font-size: 1.2em;
    color: #ccc;
  }
}
.lds-ring {
  height: 40px;
  width: 40px;
  display: block;
  position: relative;
  margin: 0 auto;
}
.lds-ring > div {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 7px solid #fff;
  border-color: #fff transparent transparent transparent;
  animation: lds-ring 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring > div:nth-child(2) {
  animation-delay: 0.195s;
}
.lds-ring > div:nth-child(3) {
  animation-delay: 0.39s;
}
.lds-ring > div:nth-child(4) {
  animation-delay: 0.585s;
}

.train-selector {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  svg {
    height: 20px;
    width: 20px;
    transform: translateY(4px);
    margin: 0 20px;
  }

  &--button {
    display: block;
    outline: none;
    border: 0;
    background-color: $gray;
    color: #fff;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin: 0.5em;
    padding: 0.7em 1.2em;
    transition: background 0.2s ease;
    cursor: pointer;

    &:hover {
      background: lighten($gray, 5%);
    }
  }
}

.train--title {
  color: white;
  margin-left: 1em;
  margin-bottom: 0;

  svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    transform: translateY(12.5%);
  }

  b:first-child {
    margin-right: 1em;
  }

  b:last-child {
    margin-left: 1em;
  }
}

.train--sub-title {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 1.3em;
  margin-bottom: 1em;
  display: block;
}

@media screen and (max-width: 800px) {
  .train {
    margin: 0 2em;
    padding-right: 2em;
  }
}

.edit-amount {
  position: absolute;
  bottom: 0;
  border: 0;
  left: 0;
  right: 0;
  height: 30px;
  margin: auto;
  top: 0;
  width: 20%;
}

h2 {
  display: inline-block;
}

.edit-button {
  display: inline-block;
  margin-left: 1em;
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 1em;
  padding: 0.5em 1em;
  transition: background 0.2s ease;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  cursor: pointer;

  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    margin-top: -0.3em;
  }

  &:hover {
    background: rgba($white, 0.2);
  }
}

.train-input {
  font-size: 0.8em;
  border: 0;
  padding: 0.2em 0.4em;
  border-radius: 3px;

  &:first-child {
    margin-right: 1em;
  }

  &:last-child {
    margin-left: 1em;
  }
}
